@font-face {
    font-family: 'KCC Chassam';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCChassam/KCCChassam.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCChassam/KCCChassam.ttf') format('truetype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCChassam/KCCChassam.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCChassam/KCCChassam.woff2') format('woff2');
}
